.intro{
  display:block;
  border-color: white;
  border-style: solid;
  width: 1050px;
  height: 590px;
  margin-top: 1%;
  margin-left: 1%;
  position: absolute;
  background: url('../sprite/fondo.jpg');
  background-size: 100% auto;
}
.logoOd{
  width: 50%;
  left: 30%;
  height: 70%;
  margin-top: 10px;
  position: absolute;
  background: url('../sprite/Oddyssey.png');
  background-size: 100% ;
  background-repeat: no-repeat;
}
.botones{
  width: 100%;
  position: absolute;
  top: 70%;

}
.btn2{
  margin-top: 20px;
  font-weight: bold;
  box-shadow: 0px 0px 30px 5px black;
}
/* opcion controles*/
.st{
  color:white;
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 75%;
  width: 15px;
  height: 150px;
  z-index: 2;
  background: url('../sprite/missile-sprite-png-1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}
.spacebar{
  margin-left: 1%;
  width: 300px;
  height: 78.5px;
  background-image: url('../sprite/spacebar.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.cc{
  height: 180px;
}
.arrowkeys{
  color:white;
  font-size: 32px;
  font-weight: bold;
  width: 200px;
  height: 200px;
  background-size: 50%;
  background-image: url('../sprite/arrowskey.png');
  background-repeat: no-repeat;
}
#back{

}
.controles{

  top: 70%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position:absolute;
  display: none;

}
/*game over*/
.perdiste{
  width: 200px;
  height: 200px;
  background-image: url('../sprite/GO.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position:absolute;
  animation: shoot 4.0s linear;
  z-index: 1;
}
.gameOver{
  display:none;
  border-color: white;
  border-style: solid;
  width: 1050px;
  height: 590px;
  margin-top: 1%;
  margin-left: 1%;
  position: absolute;
  background: url('../sprite/fondo.jpg');
  background-size: 100% auto;
}
h1{
  font-family: "Helvetica";
  margin-top: 20px;
  margin-left: 40%;
  font-weight: bold;
  font-size: 32px;
  color:white;
}
.newRecordLogo{
  width: 40%;
  left: 30%;
  height: 60%;

  position: absolute;
  background: url('../sprite/Oddyssey.png');
  background-size: 100% ;
  background-repeat: no-repeat;
}
.tablaPosi{
    width: 250px;
    height: 100%;
    border-style: solid.;
    border-color:red;
  }
.tP{
  text-align: center;
  font-size: 22px;
  font-family: "Helvetica";
  color: white;
  margin-top: 10px;
  margin-left: 5%;
  width: 100%;
  height: 100px;
  background-color: rgba(175,175,175,0.2);
  border-color : white;
  border-style: solid;
  background-size: 100% ;

}
.again{
  margin-top: -50px;

}
.brk{
  margin-top: -50px;

}
#menuIni{
    margin-top: -150px;

}
.nm{
  margin-top: 45px;
}

.congratz{
  display:none;
  border-color: white;
  border-style: solid;
  width: 1050px;
  height: 590px;
  margin-top: 1%;
  margin-left: 1%;
  position: absolute;
  background: url('../sprite/fondo.jpg');
  background-size: 100% auto;
}

/*juego*/
.main{
  display:none;
  border-color: white;
  border-style: solid;
  width: 1050px;
  height: 590px;
  margin-top: 1%;
  margin-left: 1%;
  position: absolute;
}
.tablero{
    background-color: rgba(175,175,175,0.2);
    border-color : white;
    border-style: solid;
    background-size: 100% auto;
    width: 230px;
    height: 100%;
    margin-left: 840px;
    position: absolute;
    z-index: 2;
}
.espacio{
  background-color: rgba(175,175,175,0.2);
  border-color : white;
  border-style: solid;
  background-size: 100% auto;
  width: 200px;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.info{
  font-size: 14px;
  font-family: "Helvetica";
  color: white;
  margin-left: 80px;
  margin-top:20px;
}

.shipEX{
  width: 31px;
  height: 42px;
  margin-top: 10px;;
  margin-left: 15px;
  background: url('../sprite/1.png');
  background-repeat: no-repeat;
  position: absolute;
  background-size: 100% auto;
  z-index: 2;
  animation: spin 4s linear infinite;

}
.vidasN{
  width: 31px;
  height: 42px;
  margin-top: 80%;
  margin-left: 35px;
  background: url('../sprite/1.png');
  background-repeat: no-repeat;
  position: absolute;
  background-size: 100% auto;
  z-index: 2;

}
.vidas{
  font-size: 18px;
  font-family: "Helvetica";
  color: white;
  margin-top: 10px;
  margin-left: 40px;
  position: absolute;
  z-index: 3;
}
.AG{
    margin-top: 37px;
  }
.asteGrande{
  margin-top: 10px;
  width: 72px;
  height: 72px;
  background: url('../sprite/Hellion.png');
  background-repeat: no-repeat;
  position: absolute;
  animation:rotationX 0.2s steps(5) infinite,
            rotationY 1.0s steps(4) infinite;

  z-index: 2;
}
.S{
  margin-left: 50px;
}
.D{
  margin-left: 50px;
  margin-top: 60px;
}
.AC{
    margin-top:72px;
}
.asteChico{
  width: 64px;
  height: 64px;
  margin-top:50px;
  background: url('../sprite/asteroid2.png');
  background-repeat: no-repeat;
  position: absolute;
  animation:rotationXP 0.5s steps(5) infinite,
            rotationYP 2.5s steps(4) infinite;

  z-index: 2;
}
@keyframes coinrotateP {
  100%{background-position: -250px;}
}
.coinP{
  width: 40px;
  height: 70px;
  margin-top: 100%;
  margin-left: 25px;
  background: url('../sprite/8-bit-coin-png-5.png');
  background-repeat: no-repeat;
  position: absolute;
  animation: coinrotateP 0.6s steps(6) infinite;
  z-index: 2;


}
.puntaje{
  font-size: 18px;
  font-family: "Helvetica";
  color: white;
  margin-top: 25px;
  margin-left: 45px;
  position: absolute;
  z-index: 3;
}
 /* Fondo*/
@keyframes animaciondown {
  100%{background-position:  0px +1040px}
}
.fondo{
  width: 100%;
  height: 100%;
  background: url('../sprite/fondomov.png') ;
  background-size: 100% auto;
  position: absolute;
  z-index: 1;
  animation: animaciondown 10.0s infinite;
  animation-timing-function: linear;
  overflow: hidden;
}

/* nave*/
.nave{
  width: 41px;
  height: 52px;
  top: 500px;
  left: 500px;
  background: url('../sprite/1.png');
  background-repeat: no-repeat;
  position: absolute;
  background-size: 100% auto;
  z-index: 2;
}

.explocion{
  height: 128px;
  width: 128px;
  background: url('../sprite/sprite-sheet-explosion.png') ;
  position: absolute;
  z-index: 1;
  animation-name: explodey,explodex;
  animation-duration:  0.8s,0.2s;

  animation-timing-function: steps(8),steps(8);

}
@keyframes explodey {
    from{background-position-y:0;}
    to{background-position-y: -1024px; }
}
@keyframes explodex {
    from{background-position-x:0;}
    to{background-position-x:-1024px; }
}
/* asteroides*/
@keyframes aparece {
  0%{ top: -10%;}
  100%{ top: 110%;}
}
@keyframes rotationX {
  from{background-position-x:0 }
  to{background-position-x: -360px; }
}
@keyframes rotationY {
  from{background-position-x:0 }
  to{background-position-x: -288px; }
}
.asteroide{
  width: 72px;
  height: 72px;
  background: url('../sprite/Hellion.png');
  background-repeat: no-repeat;
  position: absolute;
  animation: aparece 5.0s linear,
            rotationX 0.2s steps(5) infinite,
            rotationY 1.0s steps(4) infinite;

  z-index: 2;

}
@keyframes rotationXP {
  from{background-position-x:0 }
  to{background-position-x: -320px; }
}
@keyframes rotationYP {
  from{background-position-y:0 }
  to{background-position-y: -256px; }
}
.asteroidePlano{
  width: 64px;
  height: 64px;
  background: url('../sprite/asteroid2.png');
  background-repeat: no-repeat;
  position: absolute;
  animation: aparece 8.0s linear,
            rotationXP 0.5s steps(5) infinite,
            rotationYP 2.5s steps(4) infinite;

  z-index: 2;

}
/* Misile*/
@keyframes shoot {
  100%{top: 0%};
}
.misile{
  width: 10px;
  height: 90px;
  top: 500px;
  z-index: 2;
  background: url('../sprite/missile-sprite-png-1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  animation: shoot 1.0s linear;
}
/*Coin*/
@keyframes coinrotate {
  100%{background-position: -250px;}
}
.coin{
  width: 40px;
  height: 70px;
  background: url('../sprite/8-bit-coin-png-5.png');
  background-repeat: no-repeat;
  position: absolute;
  animation: coinrotate 0.6s steps(6) ;
  z-index: 2;

}
/* ShipsLife*/
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.spaceship{
  width: 31px;
  height: 42px;
  background: url('../sprite/1.png');
  background-repeat: no-repeat;
  position: absolute;
  background-size: 100% auto;
  z-index: 2;
  animation: aparece 6.0s linear,
            spin 4s linear infinite;
}
