*{
    font-family: Helvetica;
}
body{
    background-color: #E3E3E3;
}

nav{
    background-color: #171a21;
}

nav img{
    float: left;
}

nav ul{
    padding: 0;
    padding-left: 15px;
}

nav ul li{
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 3px;
    padding-left: 3px;
    float: left;
}

nav ul li a{
    text-decoration: none;
    color:white;
}

a:hover
  {
    color: #e3e3e3;
    text-decoration:none;
    cursor:pointer;
}

nav form{
    padding: 0;
    margin-left: 3%;
    width: 45%;
    float:left;
}

nav .logo{
    margin-top: 10px;
    margin-left: 20px;
}

.search{
    margin-top: 7px;
    margin-left: 7px;
    display: inline;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.comment{
    background-color: white;
    padding: 15px;
    margin: 1%;
    width: 100%;
}

.comment img{
    width: 70px;
    height: 70px;
    margin-right: 15px;
    float: left;
    padding-bottom: auto;
}

.logo{
    width: 200px;
    height: 35px;
}

.BoxDescrip h1{
    background: gray;
    text-align: center;
}


.BoxDescrip .descrip{
    margin: 5px;
    text-align: center;
}

.BoxDescrip .descripItems{
    font-weight: bold;
    padding-left: 5px;
    padding-top: 3px;
}

#stars{
    margin-left: 5px;
}

button{
    width: 100px;
}

.BoxDescrip button{
   margin-top: 25px;
   margin-left: 365px;
}

#bComprar{
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 10%;
}

#bResevar{
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 2%;
}

#bJugar{
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 50%;
}

.vImages{
    width: 230px;
    height: 150px;
}

.cImages{
    width: 170px;
    height: 150px;
}

.BoxDescrip{
    border: 2px solid black;
    margin: 1%;
    width: 90%;
    height: 68%;
}

.BoxTop{
    padding-top: 0px;
    width: 30%;
    float: right;
}

.BoxTop div{
     border: 2px solid #495057;
     background-color: white;
}

.BoxTop h5{
    background-color: #495057;
    color: white;
    text-align: center;
    padding: 8px;
}

.boxComment{
    padding-left: 2%;
    width: 60%;

}

#boxComment{
    width: 65%;
    float: left;
}

.boxTitle{
    width: 65%;
    margin-left: 7px;
    float: left;
    background-color: #495057;
    color: white;
}

.boxTitle p{
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
}

.verMasC{
    width: 63%;
    padding-right: 0px;
    margin-left: 2%;
    float: left;
    background-color: #495057;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.verMasC p{
    margin-top: 10px;
    padding: 0px;
}

#avatar{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-left: 25px;
}

#carrito{
    width: 50px;
    height: 50px;
    margin-left: 4px;
    padding: 5px;
    float: none;
}

#portada{
    padding: 1%;
    width: 90%;
    height: 70%;
}

footer{
    background-color: #171a21;
    color: white;
}
footer .logo{
  float: left;
  width: 200px;
  height: 35px;
  margin-top: 10px;
  margin-left: 10px;
}
footer ul li a{
    text-decoration: none;
    color:white;
}
footer ul{
   padding: 0;
   padding-left: 15px;
}
footer .socialMedia{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
footer ul li{
    list-style-type: none;
    margin-top: 10px;
    margin-left: 5px;
    padding-top: 3px;
    padding-left: 3px;
    float: left;
}
.tittle{
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  width: 100%;
  height: 30px;
  background-color: #464D5C;
  color:white;
}
.play{
  height: 700px;
}
.titulo{
  margin-top: 5px;
  margin-left:0.5% ;
  text-align: left;
  width: 100%;
  color:white;
}
.vertodo{
  text-align: right;
  margin-top: 5px;
  margin-right: 1px;
  color:white;
}
#miniatura{
  height: 250px;
  width: 250px;
  margin-bottom: 15px;
}
